input {
  background: none;
  border :none;
  box-shadow: none;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: $primary-color;

  &[type=text] {
    background-color: #fff;
    border-radius: 16px;
    padding: .5rem 1rem;
  }
}
