@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html, body {
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  letter-spacing: 0.02em;
}

a {
  color: $primary-color;
}

h1, h2 {
  font-weight: 1000;
}

h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}


p {
  font-size: 1.125em;
  line-height: 1.25;
}

.size {
  &--sm {
    font-size: .75em;
  }

  &--md {
    font-size: 1.25em;
    font-weight: 300;
  }

  &--lg {
    font-size: 1.5em;
    font-weight: 300;
  }
}

.dark {
  color: $primary-color !important;
}

.light {
  color: $accent-color !important;
}

.white {
  color: #fff !important;
}

.accent {
  color: $accent-color;
}

.text {
  &-center {
    text-align: center;
  }
}

