.email
  .container
    .email__content{style: "text-align: center;"}
      .email__header
        %h4 Password Reset
      .email__text{style: "margin: 1em 0 1em 0;"}
        %p Click on the link to set your new Password.
        %p DO NOT reset your password if you haven't requested to change your password.
      .email__button
        = link_to "Reset My Password!", reset_password_frontend_user_url(@user.reset_password_token)