.games {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: .2rem;

  &__item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 1rem 0;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(224,242,254,0.5018382352941176) 50%, rgba(255,255,255,0) 100%);
    border-bottom: 1px solid #0000000d;
    font-size: 1.25rem;
    font-weight: bold;

    a {
      text-decoration: none;
    }

    &:nth-child(2n) {
      background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(180, 225, 255, 0.502) 50%, rgba(255,255,255,0) 100%);
    }

    &--header {
      font-weight: 900;
      background: none;
      text-transform: uppercase;
    }
  }
}
