.login-register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 43em;
  flex-flow: column;

  &__caption {
    font-weight: 500;
    a {
      text-decoration: none;
      color: $accent-color;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.login-form, .new_user, .edit_user {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  max-width: 30em;
  width: 100%;
  margin-bottom: 1em;

  input {
    &[type=text], &[type=submit], &[type=password]   {
      width: 100%;
      margin: .5em 0;
    }
  }
}
