.tabs {
  position: relative;
  max-width: $md-display;
  margin: 0 auto;
  padding: 4em 0;

  &__list {
    display: flex;
    flex-flow: row;
    gap: 0 3em;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__item {

  }

  &__link {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    padding: .5em 0;

    &[aria-selected=true] {
      border-bottom: 3px solid $primary-color;
    }
  }

  &__section {
    &[aria-hidden=true] {
      display: none;
    }
  }
}
