%header.header
  = link_to backend_root_path, class: 'header__logo' do
    Freeze
    %span> Admin
  = link_to frontend_root_path, target: '_blank', class: 'header__tohome' do
    Open Homepage
    %svg{"enable-background" => "new 0 0 122.6 122.88", :space => "preserve", :version => "1.1", :viewbox => "0 0 122.6 122.88", :xmlns => "http://www.w3.org/2000/svg"}
      %path{:d => "m110.6 72.58c0-3.19 2.59-5.78 5.78-5.78s5.78 2.59 5.78 5.78v33.19c0 4.71-1.92 8.99-5.02 12.09s-7.38 5.02-12.09 5.02h-87.94c-4.71 0-8.99-1.92-12.09-5.02s-5.02-7.38-5.02-12.09v-88.58c0-4.71 1.92-8.99 5.02-12.09s7.38-5.02 12.09-5.02h32.98c3.19 0 5.78 2.59 5.78 5.78s-2.59 5.78-5.78 5.78h-32.98c-1.52 0-2.9 0.63-3.91 1.63-1.01 1.01-1.63 2.39-1.63 3.91v88.58c0 1.52 0.63 2.9 1.63 3.91 1.01 1.01 2.39 1.63 3.91 1.63h87.95c1.52 0 2.9-0.63 3.91-1.63s1.63-2.39 1.63-3.91v-33.18zm1.82-55.12-58.41 59.14c-2.23 2.27-5.89 2.3-8.16 0.07s-2.3-5.89-0.07-8.16l56.16-56.87h-23.38c-3.19 0-5.78-2.59-5.78-5.78s2.59-5.78 5.78-5.78h26.5c5.12 0 11.72-0.87 15.65 3.1 2.48 2.51 1.93 22.52 1.61 34.11-0.08 3-0.15 5.29-0.15 6.93 0 3.19-2.59 5.78-5.78 5.78s-5.78-2.59-5.78-5.78c0-0.31 0.08-3.32 0.19-7.24 0.16-6.04 1.13-14.04 1.62-19.52z"}
