%section
  .container
    .login-register
      .head-text.text-center
        %h2.head-text__headline Registration
        %p.head-text__description Bist du bereit auf ein Abenteuer?
      = form_for @user, url: reset_password_frontend_user_path, method: :post, class: 'login-form' do |f|
        = f.password_field :password, placeholder: 'Passwort'
        = f.submit "Passwört ändern", class: 'button button--accent'
