%section#info.section
  .container
    .head-text.text-center
      .head-text__overline= t('.overline')
      %h2.head-text__headline= t('.headline')
    .faq
      .faq__content
        %div
          %h4 Allgemein
          .faq__question
            %details
              %summary Wie kann ich Freeze Together herunterladen?
              %p.content Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam aperiam ea libero autem quaerat quibusdam fugiat delectus totam id rem! Deserunt reiciendis autem repudiandae sunt harum amet dolor, rerum consectetur!
          .faq__question
            %details
              %summary Ist Freeze Together kostenlos?
              %p.content Hier kommt der Text, den man aufklappen und wieder schließen kann.
        %div
          %h4.mt-2 Spiel
          .faq__question
            %details
              %summary Kann ich online mit meinen Freunden spielen?
              %p.content Hier kommt der Text, den man aufklappen und wieder schließen kann.
          .faq__question
            %details
              %summary Welche Charaktere gibt es?
              %p.content Hier kommt der Text, den man aufklappen und wieder schließen kann.

      .faq__sidebar
        = image_tag("icons/faq.png")
        %p.mt-2= t('.sidebar_text')
        %a.mt-2(href="mailto:support@freeze-together.xyz") support@freeze-together.xyz
