=link_to "Deez Nuts", "#", class: "button button--primary"
=link_to "Deez Nuts", "#", class: "button button--accent"
=link_to "Deez Nuts", "#", class: "button button--primary-light"
=link_to "Deez Nuts", "#", class: "button button--accent-light"