.hero
  .hero__snow
  .hero__main
    .hero-container
      %p.hero-container__description Das neue Koop-Abenteuer mit deinen Freunden!
      %h2.hero-container__headline FREEZE TOGETHER
      .hero-container__buttons
        = link_to "Jetzt spielen", "#", class: 'button button--secondary-light'

      .hero-container__platforms-headline
        %h6 Unterstützte Plattformen
      .hero-container__platforms
        %svg{:space => "preserve", :style => "enable-background:new 0 0 410 88", :viewbox => "0 0 410 88", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "m0 12.5 35.7-4.9v34.5H0M40 6.9 87.3 0v41.8H40M0 45.7h35.7v34.6L0 75.3m40-29.1h47.3v41.4L40 80.9M114 17h6.8l10.5 38.1c.8 2.7 1.3 5.4 1.6 8.1 3.7-15.6 8.7-30.8 12.9-46.2h5.9l9 33c1.1 4.4 2.6 8.7 3.1 13.2 3.3-15.6 8-30.8 11.8-46.2h6.7l-14.8 53h-7.2l-10.8-38c-.6-2-.9-4.2-1-6.3-.3 1.8-.5 3.7-1 5.5L136.7 70c-2.4.1-4.8.1-7.2.1L114 17m72 .4c.3-2.2 2.3-3.7 4.5-3.5s3.7 2.3 3.5 4.5-2.3 3.7-4.5 3.5c-1.8-.2-3.2-1.7-3.5-3.5m.9 13.6h6v38h-6m22.2-31.9c3.4-6.1 11.4-8.9 17.9-6.1 5.1 2 7 7.9 7.2 13 .3 8.3.1 16.7.1 25h-6c-.1-8 .2-16-.1-24-.2-4-1.8-8.7-6.1-9.7-6.3-1.9-12.6 3.8-12.8 10-.2 7.9 0 15.8-.1 23.7h-6V32h6l-.1 6.1M270 14h6v56h-6l-.2-6.1c-4.3 7.8-15.9 9.5-22.5 3.7-4.7-4.1-6.2-10.7-5.9-16.7.1-6.1 2.1-12.5 6.9-16.5 6.3-5.2 17.4-4.9 21.8 2.7L270 14m-12.8 22.1c-4.8.8-8.1 5.1-8.9 9.7-1.2 5.5-1 11.8 2.5 16.4 3.7 4.9 11.9 5.1 15.9.4 2.7-2.8 3.5-6.9 3.5-10.6 0-4 .4-8.5-2.3-11.8-2.4-3.4-6.8-4.9-10.7-4.1m41.8-5c5.4-.5 11.3.4 15.3 4.2 4.5 4.2 5.9 10.7 5.6 16.6-.1 5.3-2 10.8-6 14.5-8.2 7.4-23.4 5.8-28.6-4.4-4.1-8.6-3.3-20.4 4.2-26.9 2.7-2.2 6.1-3.3 9.5-4m-1.1 5.4c-8.8 2.7-10.3 14.2-7.5 21.8 2.2 6.7 10.7 9.7 16.9 6.6 4.1-1.9 6-6.6 6.4-10.9.5-5 0-10.7-3.5-14.6-3-3.4-8.1-4.1-12.3-2.9M323 32h6.3l7.4 27.2c.5 1.7.7 3.5.9 5.2 2.8-10.9 6.4-21.6 9.6-32.4h5.5c2.8 10.8 6.2 21.4 8.5 32.4 2.4-10.8 5.7-21.5 8.3-32.2 2-.1 4-.1 6-.2l-11.3 38H358c-2.7-10.3-6.2-20.4-8.4-30.8-2.6 10.4-6.2 20.5-9.2 30.8h-6L323 32m67-1c3.8-.3 7.6.1 11.1 1.5 1 1.9.2 4.3.5 6.4-4.2-2.6-10-4.3-14.6-1.6-3.1 1.7-3.3 6.7-.2 8.6 4.4 2.8 9.9 3.6 13.8 7.2 4.3 4.1 3.2 12-1.8 15.1-6.1 3.9-14.1 3.5-20.5.5V62c4.5 3.5 10.9 5.4 16.4 2.9 3.2-1.6 3.3-6.5.5-8.5-4.4-3.2-10.4-3.7-14.2-7.8-3.8-3.9-3.1-11 1.1-14.2 2.2-2 5.2-2.6 7.9-3.4", :style => "fill:#fff"}
        %svg{:version => "1.1", :viewbox => "0 0 250 59", :xmlns => "http://www.w3.org/2000/svg"}
          %path{:d => "m0.98438 58h9.7266v-25.352c0-5 3.2812-8.6328 7.9688-8.6328 4.5312 0 7.3438 2.8516 7.3438 7.4609v26.523h9.4531v-25.586c0-4.9609 3.2031-8.3984 7.8906-8.3984 4.7656 0 7.4219 2.8906 7.4219 7.9688v26.016h9.7266v-28.398c0-8.2812-5.3516-13.789-13.516-13.789-5.9766 0-10.898 3.2031-12.891 8.3203h-0.23438c-1.5234-5.3125-5.7031-8.3203-11.562-8.3203-5.625 0-10 3.1641-11.797 7.9688h-0.19531v-7.1875h-9.3359v41.406zm80.822-6.6797c-4.2188 0-7.0312-2.1484-7.0312-5.5469 0-3.2812 2.6953-5.3906 7.3828-5.7031l9.5703-0.58594v3.1641c0 5-4.4141 8.6719-9.9219 8.6719zm-2.9297 7.3438c5.3125 0 10.508-2.7734 12.891-7.2656h0.19531v6.6016h9.375v-28.516c0-8.3203-6.6797-13.75-16.953-13.75-10.547 0-17.148 5.5469-17.578 13.281h9.0234c0.625-3.4375 3.5547-5.6641 8.1641-5.6641 4.8047 0 7.7344 2.5 7.7344 6.8359v2.9688l-10.938 0.625c-10.078 0.625-15.742 5.0391-15.742 12.383 0 7.4609 5.8203 12.5 13.828 12.5zm65.158-27.305c-0.66406-8.7109-7.4219-15.625-18.359-15.625-12.031 0-19.844 8.3203-19.844 21.562 0 13.438 7.8125 21.523 19.922 21.523 10.391 0 17.539-6.0938 18.32-15.352h-9.1797c-0.89844 4.6875-4.1016 7.5-9.0234 7.5-6.1719 0-10.156-5-10.156-13.672 0-8.5156 3.9453-13.672 10.078-13.672 5.1953 0 8.2812 3.3203 9.0625 7.7344h9.1797zm30.041-30.664c-16.445 0-26.758 11.211-26.758 29.141s10.312 29.102 26.758 29.102c16.406 0 26.719-11.172 26.719-29.102s-10.312-29.141-26.719-29.141zm0 8.5938c10.039 0 16.445 7.9688 16.445 20.547 0 12.539-6.4062 20.508-16.445 20.508-10.078 0-16.445-7.9688-16.445-20.508 0-12.578 6.3672-20.547 16.445-20.547zm30.822 32.852c0.42969 10.391 8.9453 16.797 21.914 16.797 13.633 0 22.227-6.7188 22.227-17.422 0-8.3984-4.8438-13.125-16.289-15.742l-6.4844-1.4844c-6.9141-1.6406-9.7656-3.8281-9.7656-7.5781 0-4.6875 4.2969-7.8125 10.664-7.8125 6.4453 0 10.859 3.1641 11.328 8.4375h9.6094c-0.23438-9.9219-8.4375-16.641-20.859-16.641-12.266 0-20.977 6.7578-20.977 16.758 0 8.0469 4.9219 13.047 15.312 15.43l7.3047 1.7188c7.1094 1.6797 10 4.0234 10 8.0859 0 4.6875-4.7266 8.0469-11.523 8.0469-6.875 0-12.07-3.3984-12.695-8.5938h-9.7656z"}

%section#introduction.section
  .container
    .introduction
      .introduction__headline
        %h4.text-center Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae obcaecati optio laboriosam quo, distinctio magnam voluptates aspernatur placeat deleniti sit excepturi porro cumque enim praesentium provident doloribus sed. Eum?
      .introduction__buttons
        = link_to "Erfahre mehr", "#", class: 'button button--primary'

%section.section
  .container
    .game
      .game__image-wrapper
        = image_tag("game/Character_W.svg", size: 600)
      .game__description
        %p
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias dolor est voluptate harum eos animi temporibus, architecto officiis maxime amet delectus expedita. Doloribus, rerum. Mollitia beatae quidem aspernatur rem, vitae consectetur inventore. Odio, rerum? Laudantium, in sed! Magnam accusantium cum facilis deserunt delectus iusto nobis, maxime eligendi perferendis labore dolorem commodi reprehenderit porro enim dolores sapiente. Tempora vero quas maiores inventore, amet quibusdam at aut, laboriosam hic fugit doloremque animi. Delectus soluta saepe autem id enim odit sapiente voluptas, facere, temporibus architecto nam placeat eum molestiae animi sed ex possimus non odio, obcaecati quae maxime aliquam? Officia odit ipsum minus nihil veritatis cum, distinctio, excepturi corporis ea ipsa animi ex enim dicta consequuntur velit quia vitae, minima corrupti exercitationem in. Voluptatibus, doloribus praesentium. Omnis, deleniti unde necessitatibus rem neque, alias nulla vel debitis, molestiae quae earum. Hic excepturi eos provident rerum nesciunt dolores voluptates impedit repellat consectetur? Similique minima dolor odit, esse a laboriosam illum, tenetur quo delectus, omnis officia doloribus laudantium. Perferendis saepe tempore placeat rem necessitatibus, reiciendis consectetur error aut cum sed, voluptates nemo vitae. Quod eum alias nam dolores. Laboriosam, accusantium quas voluptate nobis vel nulla. Tenetur alias quae dolores voluptas excepturi molestias blanditiis animi numquam explicabo.
%section.section
  .container
    .game
      .game__description.game__description--t-left
        %p
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem aliquid illo eos. Expedita unde quam voluptas nam vero perferendis vitae, neque facere autem quos vel doloribus ipsam magnam exercitationem reiciendis ullam voluptatem recusandae possimus cupiditate voluptatibus. Odit, eaque! Dolorum sapiente asperiores, ipsam odio dolore provident aspernatur. Voluptatibus assumenda numquam, omnis ut harum quidem rem repellat corrupti cupiditate recusandae, reiciendis aliquid odit, id quis cumque? Repellendus voluptates quis impedit! Fugit, accusantium officiis, quidem enim quod veritatis deleniti totam voluptas corporis minima amet quis, fuga a reprehenderit optio eius nam voluptatibus laborum quisquam tenetur neque maiores consequuntur! Totam quaerat delectus officia maiores! Soluta provident tempore quo! Expedita quos perspiciatis iusto, modi blanditiis optio quas impedit labore porro itaque odit distinctio maiores enim totam cumque earum quis, ipsa laudantium tenetur exercitationem magnam ipsum quaerat fuga unde. Quam soluta cupiditate quas ipsam minus! Et nisi quibusdam quaerat ad similique assumenda iusto, facilis inventore nostrum quo exercitationem iste maiores perspiciatis quisquam itaque voluptas error recusandae. Fugiat iste explicabo itaque debitis temporibus nobis magnam excepturi dignissimos, ipsum, tempore magni reiciendis dolor officia sunt omnis eligendi? Provident quaerat et dolore neque. Atque, facere. Provident voluptas, pariatur veniam modi eius maiores tempore earum, eveniet magni sint, vel necessitatibus.
      .game__image-wrapper
        = image_tag("game/Ice_Golem_Koenig.svg", size: 600)
    .button-group.button-group--single
%section#news.section
  .container
    .news
      .news-card
%section#newsletter.section
  .container

%section#features.section
  .container
