.news-card
  .news-card__image
    = image_tag('/assets/placeholder/placeholder-1.png')
    .news-card-inbox
      %h5.news-card__title
        Placeholder (1)
      %span.news-card__description
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde vitae obcaecati