.news-card
  .news-card__image
    -if news.cover_image.nil?
      = link_to image_tag("placeholder/placeholder-1.png"), frontend_news_path(news)
    -else
      = link_to image_tag(news.cover_image), frontend_news_path(news)
    .news-card-inbox
      %h5.news-card__title
        = news.title
      %span.news-card__description
        = news.description