%section.section
  .head-text.text-center
    %h2.head-text__headline= t('.headline')
  .container
    %ul.news-cards.news-cards--njc
      -@news.each do |news|
        %li.news-cards__item=render news
