.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1.25em;
  border: none;

  &-row {
    display: flex;
    justify-content: center;
  }

  &--download {
    font-weight: bold;
    background: #fff;
    color: $primary-color;
    height: 100%;

    img {
      margin-left: .5em;
    }
  }

  &--avatar {
    position: relative;
    border-radius: 100%;
    overflow: hidden;
    background: white;
    height: 3rem;
    width: 3rem;
    border: 2px solid white;

    img {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &--login {
    font-weight: bold;
    background: none;
    color: #fff;
    height: 100%;

    img {
      margin-right: .5em;
    }
  }

  &--primary {
    font-weight: bold;
    padding: 1em 2em;
    background: $primary-color;
    color: #fff;
    transition: 200ms ease-in-out;

    &:hover {
      box-shadow: 0 -5em 0 inset rgba(0, 0, 0, 0.5);
    }
  }

  &--secondary {
    font-weight: bold;
    padding: 1em 2em;
    background: #fff;
    color: $primary-color;
  }

  &--accent {
    font-weight: bold;
    padding: 1em 2em;
    background: $accent-color;
    color: #fff;
  }

  &--secondary-light {
    font-weight: bold;
    padding: 1em 2em;
    border: 2px solid #fff;
    color: #fff;
    transition: 200ms ease-in-out;

    &:hover {
      box-shadow: 0 -5em 0 inset #fff;
      color: $accent-color;
    }
  }

  &--primary-light {
    font-weight: bold;
    padding: 1em 2em;
    border: 1px solid $primary-color;
    color: $primary-color;
  }

  &--accent-light {
    font-weight: bold;
    padding: 1em 2em;
    border: 1px solid $accent-color;
    color: $accent-color;
  }

  &--w-full {
    width: 100%;
  }
}