.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 1.25em;

  &--download {
    font-weight: bold;
    background: #fff;
    color: $primary-color;
    height: 100%;

    img {
      margin-left: .5em;
    }
  }

  &--login {
    font-weight: bold;
    background: none;
    color: #fff;
    height: 100%;

    img {
      margin-right: .5em;
    }
  }
  &--primary {
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    background: $primary-color;
    color: #fff;
  }
  &--secondary {
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    color: white;
  }

  &--accent {
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    background: $accent-color;
    color: #fff;
  }
  &--primary-light {
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
  &--accent-light {
    font-weight: bold;
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid $accent-color;
    color: $accent-color;
  }
}