html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background-size: 100%;
  background: #fff;
}

.section {
  position: relative;
  padding: 4em 2em;
  width: 100%;

  &--accent {
    background: linear-gradient(-23deg, #0098ff, #5ec1ff 88%);
    color: #fff;
  }

  &--dark {
    background: $primary-color;
    color: #fff;
  }

  &--no-x-padding {
    padding-right: 0;
    padding-left: 0;
  }

  @media only screen and (max-width: $sm-display) {
    padding: 3em 1em;
  }
}

.container {
  position: relative;
  display: block;
  max-width: $lg-display;
  margin: 0 auto;

  &--slg-display {
    max-width: $slg-display;
  }
  &--news {
    max-width: $lg-display - 25em;
  }
}

.head-text {
  margin-bottom: 2em;

  &__headline {
    text-transform: uppercase;
  }

  &__description {
    margin-top: .5em;

    &--intro {
      font-size: 1.25rem;
      max-width: $md-display;
      opacity: .8;
      line-height: 1.5;
      margin: 0 auto;
    }
  }

  &__overline {
    text-transform: uppercase;
    font-weight: 500;
    opacity: .8;
    letter-spacing: .1rem;
  }
}

::-webkit-scrollbar {
  width: .5em;
}

::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background: rgb(10, 10, 10);
}
