/* Screen Break Points */
$slg-display: 100em;  // 1600px;
$lg-display:   90em;  // 1440px;
$md-display:   64em;  // 1024px;
$sm-display:   32em;  // 512px

$hero-break-point:   75em;  // 1200px

$break-padding: 1em;

$accent-color: #0094f9;
$primary-color: #161616;
