- flash.each do |type, messages|
  .flash{ class: "flash #{flash_classes(type)}" }
    - if messages.kind_of?(Array)
      - messages&.each do |message|
        %p.flash__message
          = message
    - else
      %p.flash__message
        = messages