%section
  .container
    .login-register
      .head-text.text-center
        %h2.head-text__headline Freeze Passwort vergessen
        %p.head-text__description Überprüfe deine E-Mail, mit dem Link kannst Du dein Passwort zurücksetzen.